<header class="view-header flex-between">
    <h1>Profile Settings</h1>
    <button id="logout-btn" class="btn-outline header-logout-btn"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
</header>
<div class="profile-container glass-panel">
    <div class="profile-avatar">
        <i class="fa-solid fa-user-circle fa-5x"></i>
    </div>
    <form id="profile-form">
        <div class="input-group">
            <label>Name</label>
            <input type="text" id="profile-name">
        </div>
        <div class="input-group">
            <label>Email</label>
            <input type="email" id="profile-email" disabled>
        </div>
        <button type="submit" class="btn-primary">Update Profile</button>
    </form>
</div>
